.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    font-family: "Helvetica";
    display :flex;
    justify-content: space-between;
}

.card > div {
    margin-right: 2vw;
}

@media (max-width: 480px) {
    .card {
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 50% 50%;
    }

}
